    @using Entity
@model Entity.Category

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h1>Yeni Kategori </h1>
<br />
@using (Html.BeginForm("AddCategory","Category",FormMethod.Post))
{
    <div>
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x=>x.CategoryName,new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.CategoryName,null,new {style = "color: red;"})
    </div>

    <div>
        @Html.Label("Kategori Açıklaması")
        @Html.TextBoxFor(x=>x.CategoryDescription,new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.CategoryDescription,null,new {style = "color: red;"})
   </div>
   <br />
   <div>
        <button type="submit" href="~/Category/AddCategory" class="btn btn-success">Ekle</button>
   </div>
    
}
