@using Entity
@model List<Blog>

@{
    ViewData["Title"] = "Deneme";
    Layout = "~/Views/Shared/Writer_Layout.cshtml";
}

<h1>Yazarın Blogları</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.BlogID</th>
            <td>@item.BlogTitle</td>
            <td>@item.BlogCreateDate</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.BlogStatus</td>
            <td>
                <a href="/Blog/BlogDelete/@item.BlogID" class="btn btn-primary">Sil</a>
            </td>
            <td><a href="/Blog/BlogUpdate?id=@item.BlogID" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }
</table>
<br />
<a href="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog oluştur</a>
<a href="/Blog/BlogDelete/13" class="btn btn-primary">Sil</a>

